# CLion and JHelper information
.DS_Store
.idea
cmake-build-debug
CMakeLists.txt
output
tasks
testrunner
run.template
submission.template
task.template

# Another files
problems/output
problems/contest